<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>02-11</title>
    <!--<script src="https://unpkg.com/vue"></script>-->

    <script src="./vue.js"></script>
</head>
<body>
<div id="example">

    <ul>
        <li v-for="user in activeUsers" :key="user.id">
            {{ user.name }}
        </li>
    </ul>

    <ul v-if="shouldShowUsers">
        <li v-for="user in users"
            :key="user.id">
            {{ user.name }}
        </li>
    </ul>

</div>

<script type="text/javascript">

</script>
</body>
</html>
